//out: null

@media (max-width: 1800px) {
    .front_page_caption {
        width: 600px;
        font-size: 3.75rem;
    }

    .cases {

        &_blocks {

            .cases_block {
                display: flex;
                align-items: center;

                &_content {
                    padding: 0 0 0 11%;
                    height: auto;
                }
            }
        }

        &_button {
            margin-top: 30px;
        }

        &_link {
            margin-top: 30px;
        }

        &_made {
            margin-top: 20px;
        }
    }
}

@media (max-width: 1799px) {

    .howitwork_block_line.semicircle-last::after {
        left: 120px;
        width: 324px;
        height: 324px;
    }

    .howitwork .rocket_circle::before {
        width: 470px;
    }
}

@media (max-width: 1639px) {
    .howitwork_block_line.semicircle-right::after {
        left: 77px;
        width: 408px;
        height: 408px;
    }

    .howitwork_block_line.semicircle-left::after {
        right: -30px;
        width: 345px;
        height: 345px;
    }

    .howitwork_block_line.semicircle-last::after {
        left: 100px;
        width: 366px;
        height: 366px;
    }

    .howitwork .rocket_circle::before {
        width: 415px;
    }
}

@media (max-width: 1400px) {

    .button,
    .button_white {
        font-size: .75rem;
    }

    .caption {
        margin: 50px 0;
        font-size: 2.75rem;
    }

    .breadcrumbs {
        margin: 130px 0 50px;
    }

    .header {
        padding-bottom: 30px;
        height: 80px;

        &_wrap {
            height: 50px;
        }

        .menu {
            margin-top: 80px;
            height: ~"calc(100% - 80px)";

            &_list {
                height: 300px;
            }

            &_link {
                font-size: 2.25rem;
            }
        }
    }

    .front_page {
        &_caption {
            width: 500px;
            font-size: 3.125rem;
        }

        &_button_wrap {
            .button {
                width: 300px;
                height: 70px;
            }
        }

        &_footer {
            bottom: 30px;
        }
    }

    .services {
        .col-6 {
            margin-bottom: 50px;
        }

        &_block {
            padding: 50px 30px 50px 75px;

            &_caption {
                font-size: 1.5rem;
            }

            &_paragraph {
                font-size: 1rem;
            }

            &_price {
                font-size: 1rem;

                &_bold {
                    font-size: 1.5rem;
                }
            }

            &_timing {
                font-size: .875rem;
            }

            &_buttons {
                .more_button {
                    width: 220px;
                    height: 50px;
                }


                &_link {
                    line-height: 50px;
                }
            }
        }
    }

    .test {

        &_caption {
            font-size: 3rem;
        }

        &_paragraph {
            font-size: 1rem;
        }

        .button {
            margin: 30px auto 0;
            width: 260px;
            height: 60px;
        }
    }

    .cases {

        &_blocks .cases_block_content_wrap {
            width: 90%;
        }

        &_button {
            width: 220px;
            height: 50px;
            line-height: 50px;
        }

        &_caption {
            font-size: 1.5rem;
        }

        &_info {
            font-size: 1rem;
        }

        &_made,
        &_result {
            font-size: .875rem;

            .cases_bold {
                font-size: 1rem;
            }
        }

        &_more {
            width: 260px;
            height: 60px;
            font-size: .875rem;
        }
    }

    .technology {
        &_caption {
            margin-bottom: 50px;
            font-size: 2.25rem;
        }
    }

    .about {

        .caption {
            margin-bottom: 30px;
        }

        &_paragraph {
            margin-bottom: 100px;
            font-size: 1rem;
        }

        &_advan {
            max-width: 180px;

            &_caption {
                font-size: 3.75rem;

                .extra {
                    font-size: 1.875rem;
                }
            }

            &_paragraph {
                font-size: .875rem;
            }
        }



        .steps_caption,
        .try_caption {
            margin: 50px 0;
            font-size: 2.25rem;
        }

        .step_caption {
            margin: 50px 0 20px;
            font-size: 1.5rem;
        }

        .step_paragraph {
            font-size: 1;
        }

        .try_button {
            width: 260px;
            height: 60px;
            font-size: .875rem;
        }
    }

    .reviews {

        &_block {
            height: 550px;
        }

        .reviews_quotes {
            margin-bottom: 20px;
        }

        &_text {
            font-size: 1rem;
        }

        &_author {
            padding-top: 10px;
            height: 150px;

            &_name {
                font-size: 1rem;
            }

            &_position {
                margin-top: 10px;
                font-size: .875rem;
            }
        }

        &_button {
            width: 220px;
            height: 50px;
        }
    }

    .form {
        padding: 50px 0;

        &_caption {
            margin-bottom: 10px;
            font-size: 3rem;
        }

        &_paragraph {
            font-size: .875rem;
        }

        &_text {
            font-size: 2.25rem;
        }

        .input,
        .textarea {
            font-size: 1rem;
        }

        .input::placeholder,
        .textarea::placeholder {
            font-size: .875rem;
        }

        .input {
            margin-bottom: 30px;
        }

        .textarea {
            height: 120px;
        }

        &_button {
            width: 260px;
            height: 60px;
            font-size: .75rem;
        }
    }

    .contacts {

        &_info {
            padding-top: 100px;
            padding-bottom: 100px;

            &_title {
                margin-bottom: 50px;
                font-size: 2.25rem;
            }

            &_subtitle {
                margin-top: 30px;
            }

            &_paragraph,
            &_link {
                margin-top: 20px;
                font-size: 1.125rem;
            }
        }
    }

    .page-cases {

        .cases_slide {

            &_header {
                padding: 20px 0 10px;

                .col-name {
                    font-size: .875rem;
                }

                .col-desc {
                    font-size: 1.25rem;
                }
            }

            &_content {
                padding: 50px 0;

                &_caption {
                    margin-bottom: 50px;
                }

                &_links,
                &_desc {
                    padding-left: 15px;
                    border-right: 15px;
                }

                &_links {

                    &_site {
                        margin-top: 30px;
                        font-size: .75rem;
                    }

                    .button_white {
                        margin: 30px auto 0;
                        width: 260px;
                        height: 60px;
                        font-size: .75rem;
                    }
                }

                &_desc {

                    .features {
                        margin-bottom: 50px;

                        &_block {

                            &_caption {
                                font-size: 2.187rem;
                            }

                            &_paragraph {
                                font-size: .875rem;
                            }
                        }
                    }

                    &_paragraph {
                        margin-bottom: 30px;
                        font-size: .875rem;
                    }

                    &_subtitle {
                        margin-bottom: 10px;
                        font-size: .875rem;
                    }
                }
            }
        }

        .cases_slider_control {
            margin-bottom: 100px;
        }
    }

    .landingpage-test {
        margin-top: 100px;
        padding-bottom: 100px;

        &_paragraph {
            margin-bottom: 50px;
            font-size: 1.125rem;
        }

        &_icons {
            margin: 0 -15px;

            &_block {
                padding: 0 15px;
            }

            &_img {
                width: 50px;
            }

            &_info {
                font-size: .875rem;
            }
        }

        .button {
            margin-top: 50px;
            width: 260px;
            height: 60px;
        }
    }

    .landingpage-desc {
        padding: 50px 0;

        &_caption {
            font-size: 1.125rem;
        }

        &_paragraph {
            margin-top: 30px;
            font-size: 1rem;
        }

        &_price {
            margin-top: 50px;
            font-size: .875rem;

            &_icon {
                margin-right: 10px;
            }

            .bold {
                font-size: 1.125rem;
            }
        }

        &_time {
            margin-top: 10px;
            font-size: .875rem;

            &_icon {
                margin-right: 15px;
            }
        }

        .button_white {
            margin-top: 50px;
            width: 280px;
            height: 60px;
        }

        &_list {
            margin-top: 30px;
        }

        &_point {
            margin-bottom: 20px;
            font-size: 1rem;
        }
    }

    .spheres {
        padding: 50px 0;

        &_caption {
            margin-bottom: 30px;
            font-size: 1.375rem;
        }

        &_subtitle {
            margin-bottom: 20px;
            font-size: 1.125rem;
        }

        &_list {
            font-size: .875rem;
        }
    }

    .howitwork {
        padding-bottom: 0;

        &_block {
            margin-bottom: 15px;

            &_icon {
                width: 50px;
            }

            &_number {
                font-size: .625rem;

                .bold {
                    font-size: 1rem;
                }
            }

            &_line {
                margin-top: 10px;
            }
        }

        &_text {
            margin-bottom: 70px;
            font-size: .75rem;
        }

        .rocket {

            &_circle {
                width: 100px;
                height: 100px;
            }

            &_text {
                margin-top: 10px;
                font-size: .75rem;
            }
        }
    }


    .howitwork_block_line.semicircle-right::after {
        left: 150px;
        width: 261px;
        height: 261px;
    }

    .howitwork_block_line.semicircle-left::after {
        right: 32px;
        width: 225px;
        height: 225px;
    }

    .howitwork_block_line.semicircle-last::after {
        left: 175px;
        width: 215px;
        height: 215px;
    }

    .howitwork .rocket_circle::before {
        width: 470px;
    }

    .vacancies {

        &_block {
            padding: 50px 0;

            &_icon {
                width: 300px;
                height: 300px;
            }
        }

        &_caption {
            margin-bottom: 30px;
            font-size: 1.375rem;
        }

        &_subtitle {
            margin-bottom: 20px;
            font-size: .875rem;
        }

        &_list {
            margin-bottom: 30px;

            &_point {
                margin-bottom: 5px;
                font-size: .875rem;
            }
        }

        .button_white {
            margin-bottom: 25px;
            width: 220px;
            height: 50px;
        }

        .whatch_vacancy {
            font-size: .875rem;
        }
    }

    .review {
        margin-bottom: 50px;

        &_paragraph {
            font-size: 1rem;
        }

        &_author {
            margin-top: 30px;
            font-size: 1.125rem;
        }
    }

    .skills {

        &_block {
            margin-bottom: 50px;
            padding: 30px 15px;
            width: 24%;
            height: 350px;

            &_caption {
                margin-bottom: 30px;
                height: 28px;
                font-size: 1.125rem;
            }

            &_paragraph {
                font-size: .75rem;
            }

            svg {
                width: 150px;
            }
        }
    }

    .clients {
        &_caption {
            margin-bottom: 50px;
            font-size: 2.25rem;
        }
    }

    .footer {
        font-size: .75rem;

        &_link {

            a {
                font-size: .75rem;
            }
        }
    }
}

@media (max-width: 1200px) {
    .header {
        .menu {

            &_list {
                width: 100%;
                height: auto;
                text-align: center;

                li {
                    width: 100%;
                }
            }
        }
    }

    .howitwork_block_line,
    .howitwork_block_line.semicircle-right::after,
    .howitwork_block_line.semicircle-left::after,
    .howitwork_block_line.semicircle-last::after,
    .howitwork .rocket_circle::before {
        display: none;
    }

    .copy {
        display: none;
    }

    .front_page_wrap {
        .scroll {
            display: none;
        }
    }

    .blob_block {
        z-index: -1;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: .5;
    }

    .caption {
        font-size: 1.7rem;
    }

    .front_page {

        &_caption {
            width: auto;
            font-size: 1.7rem;
        }

        .advan {
            display: none;
        }
    }

    .social {
        display: none;
    }
}
