//out: null

@media (max-width: 1800px) {
    .front_page_caption {
        width: 600px;
        font-size: 3.75rem;
    }

    .cases {

        &_blocks {

            .cases_block {

                &_content {
                    padding: 11% 0 0 11%;

                    &_wrap {
                        width: 350px;
                    }
                }
            }
        }

        &_button {
            margin-top: 30px;
        }

        &_link {
            margin-top: 30px;
        }

        &_made {
            margin-top: 20px;
        }
    }
}

@media (max-width: 1400px) {
    .button {
        font-size: .875rem;
    }

    .caption {
        margin: 50px 0;
        font-size: 3rem;
    }

    .header {
        padding-bottom: 30px;
        height: 80px;

        &_wrap {
            height: 50px;
        }
    }

    .front_page {
        &_caption {
            width: 500px;
            font-size: 3.125rem;
        }

        &_button_wrap {
            .button {
                width: 300px;
                height: 70px;
                line-height: 70px;
            }
        }

        &_footer {
            bottom: 30px;
        }
    }

    .services {
        .col-6 {
            margin-bottom: 50px;
        }

        &_block {
            padding: 50px 30px 50px 75px;

            &_caption {
                font-size: 1.5rem;
            }

            &_paragraph {
                font-size: 1rem;
            }

            &_price {
                font-size: 1rem;

                &_bold {
                    font-size: 1.5rem;
                }
            }

            &_timing {
                font-size: .875rem;
            }

            &_buttons {
                .more_button {
                    width: 220px;
                    height: 50px;
                    line-height: 50px;
                }


                &_link {
                    line-height: 50px;
                }
            }
        }
    }

    .test {

        &_caption {
            font-size: 3rem;
        }

        &_paragraph {
            margin-top: 30px;
            font-size: 1rem;
        }

        .button {
            margin: 30px auto 0;
            width: 260px;
            height: 60px;
            line-height: 60px;
        }
    }

    .cases {

        &_blocks .cases_block_content_wrap {
            width: 300px;
        }

        &_button {
            width: 220px;
            height: 50px;
            line-height: 50px;
        }

        &_caption {
            font-size: 1.5rem;
        }

        &_info {
            font-size: 1rem;
        }

        &_made,
        &_result {
            font-size: .875rem;

            .cases_bold {
                font-size: 1rem;
            }
        }

        &_more {
            width: 260px;
            height: 60px;
            font-size: .875rem;
        }
    }

    .technology {
        &_caption {
            margin-bottom: 50px;
            font-size: 2.25rem;
        }
    }
}
