//out: ../css/style.css, compress: true, autoprefixer: true
@import "reset";
@import "bootstrap";
@import "fonts";
@import "color";
@import "anim";
@import "slick";
@import "magnific-popup";

body {
    font-family: Gotham Pro;
    font-weight: 400;
}

a:hover {
    text-decoration: none;
}

.ymaps-2-1-72-ground-pane {
    filter: grayscale(1);
}

.button {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: .875rem;
    text-transform: uppercase;
    border-radius: 50px;
    border: 1px solid @main;
    box-shadow: 0px 10px 40px 0px rgba(0, 0, 0, 0.2);
    background-color: @main;
    transition: background .7s, color .3s;
    overflow: hidden;

    &_text {
        position: relative;
        z-index: 1;
    }

    &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        transform: translateX(-101%);
        display: block;
        width: 100%;
        height: 100%;
        background-color: #fff;
        transition: .3s;
    }

    &:hover {
        color: @main;
        box-shadow: none;
        background-color: #fff;

        &::after {
            transform: translateX(0);
        }
    }
}

.button_white {
    display: flex;
    justify-content: center;
    align-items: center;
    color: @main;
    font-size: .875rem;
    font-weight: bold;
    border: 1px solid @main;
    border-radius: 50px;
    transition: .3s;

    &:hover {
        color: #fff;
        background-color: @main;
    }
}

.caption {
    margin: 100px 0;
    font-weight: 900;
    font-size: 3.75rem;
    text-transform: uppercase;
}

.blue {
    color: @main;
}

.breadcrumbs {
    margin: 170px 0 80px;
    font-size: .875rem;

    a {
        color: #000;
        opacity: .5;
        transition: .3s;

        &:hover {
            color: @main;
            opacity: 1;
        }
    }

    .breadcrumb_last {
        font-weight: 400;
    }
}

.header {
    z-index: 100;
    position: fixed;
    top: 0;
    left: 0;
    padding-bottom: 50px;
    width: 100%;
    height: 120px;
    background-color: #fff;
    transition: .3s ease-in-out;

    &.fixed {
        box-shadow: 0px 15px 20px 0px rgba(68, 68, 68, 0.05);
    }

    &.open {

        .lang {

            &_button {
                color: #fff;
                opacity: .5;
            }

            &_active {
                opacity: 1;

                &:hover {
                    color: #fff;
                }
            }

            span {
                color: #fff;
                opacity: .5;
            }
        }

        .phone {
            &_img {
                fill: #fff;
            }

            &_button {
                color: #fff;
            }
        }
    }

    &_wrap {
        z-index: 1;
        position: relative;
        height: 70px;
        font-weight: bold;
        text-transform: uppercase;

        .logo {
            width: 105px;
            transform: translateY(-7px);
        }

        .lang {
            display: inline-block;

            &_button {
                font-weight: bold;
                color: #000;
                opacity: .3;
                transition: .3s;

                &:hover {
                    color: @main;
                    opacity: 1;
                    text-decoration: none;
                }
            }

            &_active {
                opacity: 1;

                &:hover {
                    color: #000;
                }
            }

            span {
                opacity: .3;
            }
        }

        .phone {
            &_img {
                width: 14px;
                transition: .3s;
            }

            &_button {
                margin: 0 10px;
                color: #000;
                transition: .3s;

                &:hover {
                    color: @main;
                }
            }
        }

        .burger {
            width: 60px;

            &_button {
                position: absolute;
                left: 15px;
                bottom: -18px;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 60px;
                height: 60px;
                border-radius: 50%;
                box-shadow: 0px 10px 19px 1px rgba(0, 0, 0, 0.1);
                background-color: @main;
                transition: .3s;

                &::after {
                    content: '';
                    z-index: -1;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    width: 0;
                    height: 0;
                    border-radius: 50%;
                    background-color: #161616;
                    transition: .5s;
                }

                &_line {
                    position: relative;
                    width: 23px;
                    height: 2px;
                    background-color: #fff;
                    transition: .5s;

                    &::before,
                    &::after {
                        content: '';
                        position: absolute;
                        right: 0;
                        height: 2px;
                        background-color: #fff;
                        transition: .5s;
                    }

                    &::before {
                        width: 23px;
                        bottom: 5px;
                    }

                    &::after {
                        width: 15px;
                        top: 5px;
                    }
                }

                &:hover {

                    .burger_button_line::before {
                        width: 15px;
                    }

                    .burger_button_line::after {
                        width: 23px;
                    }
                }

                &.menu-open {
                    background-color: #fff;

                    &::after {
                        width: 500vw;
                        height: 500vw;
                    }

                    .burger_button_line {
                        background-color: #000;
                        transform: rotate(225deg);

                        &::before,
                        &::after {
                            width: 12px;
                            background-color: #000;
                            transform: translateX(-5px) rotate(-270deg);
                        }
                    }
                }
            }
        }
    }

    .menu {
        margin-top: 120px;
        display: none;
        z-index: 1;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: ~"calc(100% - 120px)";
        color: #fff;

        &_wrap {
            display: flex;
            align-items: center;
            height: 100%;
        }

        .fade {
            display: none;
        }

        &_list {
            transform: translateY(-40px);
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            width: 1000px;
            height: 370px;

            li {
                width: 50%;
                margin-bottom: 20px;
            }
        }

        &_link {
            position: relative;
            font-size: 3rem;
            color: #fff;
            font-weight: bold;
            text-transform: uppercase;

            &::after {
                content: attr(data);
                position: absolute;
                left: 0;
                width: 0;
                color: @main;
                white-space: nowrap;
                background-color: #161616;
                overflow: hidden;
                transition: .5s
            }

            &:hover::after {
                width: 100%;
            }
        }

        &_footer {
            position: absolute;
            bottom: 50px;
            left: 0;
            width: 100%;
            color: #fff;
            font-weight: 300;
            transition: color .3s;

            &_link {
                position: relative;
                margin-left: 15px;
                color: #fff;
                transition: .3s;

                &::after {
                    content: '';
                    z-index: -1;
                    position: absolute;
                    top: 0;
                    left: -10px;
                    display: block;
                    width: 1px;
                    height: 100%;
                    background-color: #fff;
                    transform: skewX(-27deg);
                    transition: .3s;
                }

                &:hover {
                    color: #000;

                    &::after {
                        width: ~"calc(100% + 20px)";
                    }
                }
            }
        }
    }
}

.front_page {
    position: relative;
    display: flex;
    align-items: center;
    height: 100vh;
    min-height: 800px;
    overflow: hidden;

    &_caption {
        width: 700px;
        font-size: 4.375rem;
        font-weight: 900;
    }

    .advan {
        margin-top: 60px;

        &_caption {
            font-size: 1.5rem;
            font-weight: bold;
        }

        &_paragraph {
            font-weight: 300;
        }
    }

    &_button_wrap {
        .button {
            margin-top: 85px;
            width: 400px;
            height: 90px;
        }
    }

    &_footer {
        position: absolute;
        bottom: 50px;
        left: 0;
        width: 100%;
        font-weight: 300;
        transition: color .3s;

        &_link {
            position: relative;
            margin-left: 15px;
            color: #000;
            transition: .3s;

            &::after {
                content: '';
                z-index: -1;
                position: absolute;
                top: 0;
                left: -10px;
                display: block;
                width: 1px;
                height: 100%;
                background-color: #000;
                transform: skewX(-27deg);
                transition: .3s;
            }

            &:hover {
                color: #fff;

                &::after {
                    width: ~"calc(100% + 20px)";
                }
            }
        }
    }

    &_wrap {
        position: relative;
        height: 100%;

        .blob {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 150%;
            height: 150%;
        }

        .scroll {
            position: absolute;
            top: 50%;
            right: 0;
            transform: translate(10px, -50%) rotate(90deg);
            transform-origin: right;
            font-size: .875rem;
            font-weight: bold;
            cursor: pointer;

            &_text {
                position: relative;
                color: rgba(0, 0, 0, .3);
                overflow: hidden;


                .mask {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background-color: #fff;
                    overflow: hidden;
                    animation: mask 4s ease infinite;

                    &::after {
                        content: attr(data-text);
                        position: absolute;
                        top: 0;
                        left: 0;
                        display: block;
                        width: 100%;
                        height: 100%;
                        white-space: nowrap;
                        color: @main;
                        background-color: #fff;
                        animation: mask_text 4s ease infinite;
                    }
                }
            }

            &_arrow {
                position: absolute;
                top: 50%;
                right: -10px;
                transform: translate(100%, -55%) scaleX(-1);
                width: 25px;
                opacity: .3;
            }

            &::after {
                content: '';
                position: absolute;
                top: 0;
                left: -10px;
                display: block;
                width: 10px;
                height: 100%;
                background-color: #fff;
                background-image: radial-gradient(#fff, transparent 50%);
            }
        }
    }
}

.services {

    .col-6 {
        margin-bottom: 100px;
    }

    &_block {
        position: relative;
        padding: 100px 70px 100px 135px;
        height: 100%;
        border-radius: 5px;
        transition: .3s;

        &_background {
            z-index: -1;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            height: 80%;
            opacity: 0;
            transition: opacity .3s;
        }

        &_wrap {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 100%;
        }

        &_caption {
            font-size: 1.875rem;
            color: #000;
            font-weight: bold;
            transition: .3s;
        }

        &_paragraph {
            margin-top: 40px;
            font-size: 1.25rem;
            font-weight: 300;
        }

        &_price {
            margin-top: 35px;
            font-size: 1.125rem;

            &_bold {
                font-size: 1.875rem;
                font-weight: bold;
            }
        }

        &_timing {
            margin-top: 15px;
            font-weight: 500;
            transition: .3s;
        }

        &_buttons {
            margin-top: 40px;

            .more_button {
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 260px;
                height: 60px;
                text-align: center;
                color: #000;
                font-size: .75rem;
                font-weight: bold;
                border: 1px solid #000;
                border-radius: 50px;
                background-color: #fff;
                overflow: hidden;
                transition: background .7s, color .3s;

                &::after {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    transform: translateX(-100%);
                    display: block;
                    width: 100%;
                    height: 100%;
                    background-color: #fff;
                    transition: .3s;
                }

                &_text {
                    position: relative;
                    z-index: 1;
                }
            }

            &_link {
                margin: 0 5px;
                color: #000;
                line-height: 60px;
                font-weight: 300;
                transition: .3s;

                &:hover {
                    color: @main;
                    text-decoration: underline;
                }
            }
        }

        &:hover {
            box-shadow: 0px 0px 48.5px 1.5px rgba(0, 0, 0, 0.1);

            .services_block_background {
                opacity: .09;
            }

            .services_block_caption,
            .services_block_timing {
                color: @main;
            }

            .services_block_buttons {
                .more_button {
                    color: #fff;
                    border: 1px solid @main;
                    background-color: @main;

                    &:hover {
                        color: #000;
                        background-color: #fff;

                        &::after {
                            transform: translateX(0);
                        }
                    }
                }
            }
        }
    }
}

.test {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    color: #fff;

    .blob-bg {
        z-index: -1;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #000;
    }

    &_caption {
        font-size: 3.75rem;
        font-weight: 900;
    }

    &_paragraph {
        margin-top: 30px;
        font-size: 1.125rem;
        font-weight: 300;
    }

    .button {
        margin: 55px auto 0;
        width: 300px;
        height: 80px;
    }
}

.cases {
    &_blocks {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;

        .cases_block {
            position: relative;
            width: 50%;
            height: 33vw;
            background-color: #000;
            overflow: hidden;

            &_img {
                z-index: 1;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
                filter: grayscale(100);
                transition: .3s;
            }

            &_content {
                z-index: 3;
                position: relative;
                padding: 17% 0 0 17%;
                box-sizing: border-box;
                width: 100%;
                height: 100%;
                color: #fff;
                background-color: rgba(26, 26, 26, .2);
                transition: .3s;
                opacity: 0;

                &_wrap {
                    width: 80%;
                }
            }

            &:hover {
                .cases_block_img {
                    filter: grayscale(0);
                    opacity: .2;
                }

                .cases_block_content {
                    opacity: 1;
                }
            }
        }
    }

    &_caption {
        line-height: 1;
        font-size: 1.875rem;
        font-weight: bold;
    }

    &_info {
        line-height: 1;
        font-size: 1.25rem;
        font-weight: 300;
    }

    &_made,
    &_result {
        font-weight: 300;

        .cases_bold {
            font-size: 1.25rem;
            font-weight: bold;
        }
    }

    &_made {
        margin-top: 30px;
    }

    &_result {
        margin-top: 10px;
    }

    &_button {
        margin-top: 30px;
        width: 260px;
        height: 60px;
        line-height: 60px;
    }

    &_link {
        position: relative;
        margin-top: 30px;
        display: block;
        color: #fff;
        font-size: .687rem;
        font-weight: 300;

        &:hover {
            color: #fff;
            text-decoration: underline;
        }

        &_img {
            margin-right: 5px;
            width: 21px;
        }
    }

    &_more {
        margin: 70px auto 100px;
        width: 300px;
        height: 80px;

        &_img {
            margin-left: 15px;
            transition: .3s
        }

        &:hover {
            color: @main;
            background-color: transparent;

            .cases_more_img {
                transform: rotate(360deg);
            }
        }
    }
}

.technology {
    &_caption {
        margin-bottom: 100px;
        color: @main;
        font-size: 3rem;
        font-weight: 900;
    }

    &_development {
        margin-bottom: 25px;
        display: flex;
        border: 1px solid #e6e6e6;

        &_name {
            display: flex;
            align-items: center;
            padding: 0 30px;
            box-sizing: border-box;
            width: 23.5%;
            font-size: 1.875rem;
            font-weight: bold;
        }

        &_icons {
            display: flex;
            flex-wrap: wrap;
            width: 76.5%;

            .icon_block {
                margin-bottom: -1px;
                position: relative;
                padding-top: 12.5%;
                box-sizing: border-box;
                width: 12.5%;
                border-left: 1px solid #e6e6e6;
                border-bottom: 1px solid #e6e6e6;

                &_img {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    width: 70%;
                    filter: grayscale(100);

                    &:hover {
                        filter: none;
                    }
                }
            }
        }
    }
}

.about {

    .caption {
        margin-bottom: 70px;
    }

    .team_photo {
        margin-bottom: 50px;
        background-color: #f2f2f2;
        overflow: hidden;

        &_img {
            width: 100%;
        }
    }

    &_paragraph {
        margin-bottom: 150px;
        font-size: 1.25rem;
    }

    &_advan {
        max-width: 210px;
        text-align: center;

        &_caption {
            font-size: 5.625rem;

            .extra {
                font-size: 2.812rem;
            }
        }
    }

    .steps_caption,
    .try_caption {
        margin: 100px 0;
        font-size: 3rem;
        font-weight: bold;
    }

    .step_caption {
        margin: 70px 0 30px;
        font-size: 1.875rem;
        font-weight: bold;
    }

    .step_paragraph {
        font-size: 1.25rem;
        font-weight: 300;
    }

    .try_button {
        width: 300px;
        height: 80px;
    }

    .try {
        position: relative;
        padding-bottom: 56.25%;
        height: 0;

        iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }
}

.reviews {

    &_block {
        margin-bottom: 100px;
        position: relative;
        padding: 0 50px;
        box-sizing: border-box;
        width: 33.33%;
        height: 750px;
    }

    .reviews_quotes {
        margin-bottom: 50px;
        width: 10%;
    }

    &_text {
        font-size: 1.25rem;
        font-weight: 300;
    }

    &_author {
        position: absolute;
        left: 50%;
        bottom: 0;
        transform: translateX(-50%);
        padding-top: 30px;
        width: ~"calc(100% - 100px)";
        height: 220px;
        border-top: 1px solid rgba(0, 0, 0, .15);

        &_name {
            font-size: 1.25rem;
            font-weight: 500;
        }

        &_position {
            margin-top: 15px;
            font-weight: 300;
        }
    }

    &_button {
        position: absolute;
        left: 15px;
        bottom: 0;
        width: 260px;
        height: 60px;
    }

    &_more {
        margin: 0 auto 100px;
        display: inline-block;
        color: rgba(0, 0, 0, .5);
        font-weight: 500;
        transition: .3s;

        &:hover {
            color: @main;

            .reviews_more_underline::after {
                background-color: @main;
            }
        }

        &_underline {
            position: relative;

            &::after {
                content: '';
                position: absolute;
                bottom: -5px;
                left: 0;
                display: block;
                width: 100%;
                height: 1px;
                background-color: rgba(0, 0, 0, .5);
            }
        }

        &_arrow {
            margin-left: 10px;
            width: 25px;
            transform: scaleX(-1);
            opacity: .5;
        }
    }
}

.form {
    padding: 100px 0;
    color: #fff;
    background-color: #131017;

    &_caption {
        margin-bottom: 30px;
        font-size: 3.75rem;
        font-weight: 900;
    }

    &_paragraph {
        font-weight: 300;
    }

    &_text {
        font-size: 3rem;
        font-weight: 900;
    }

    .input,
    .textarea {
        display: block;
        padding: 15px 20px;
        box-sizing: border-box;
        width: 100%;
        color: #fff;
        font-size: 1.25rem;
        font-weight: 300;
        border: none;
        border-bottom: 1px solid #fff;
        background-color: transparent;
        outline: none;
        transition: .3s;
        appearance: none;

        &:focus {
            border-color: @main;
        }
    }

    .input::placeholder,
    .textarea::placeholder {
        color: rgba(255, 255, 255, .4);
    }

    .input {
        margin-bottom: 50px;
    }

    .textarea {
        height: 150px;
        resize: none;
    }

    &_button {
        margin: 50px auto 0;
        width: 300px;
        height: 80px;
        font-size: 12px;
        background-color: transparent;
        outline: none;
        cursor: pointer;
        transition: .3s;
        appearance: none;

        &:hover {
            color: #fff;
            border-color: transparent;
            background-color: @main;
        }
    }
}

.contacts {
    position: relative;

    .map {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, .1);
    }

    &_info {
        position: relative;
        z-index: 1;
        padding-top: 180px;
        padding-bottom: 180px;

        &::before {
            content: '';
            z-index: -1;
            position: absolute;
            top: 0;
            right: -10%;
            width: 2000px;
            height: 100%;
            background-color: rgba(255, 255, 255, .8);
            box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.3);
        }

        &_title {
            margin-bottom: 65px;
            font-size: 3rem;
            font-weight: 900;
        }

        &_subtitle {
            margin-top: 50px;
            font-weight: 300;
        }

        &_paragraph,
        &_link {
            margin-top: 20px;
            display: block;
            color: #000;
            font-size: 20px;
            font-weight: 500;
        }

        &_link {
            transition: .3s;

            &:hover {
                color: @main;
            }
        }
    }
}

.page-cases {

    .caption {
        margin-bottom: 0;
    }

    &_back {
        margin-bottom: 30px;
        text-align: right;

        &_button {
            color: #000;
            font-weight: 300;
            transition: .3s;

            &_img {
                margin-right: 15px;
                width: 20px;
            }

            &:hover {
                color: #000;
                opacity: .5;
            }
        }
    }

    .cases_slider {
        margin-bottom: 50px;
        box-shadow: 0px 0px 126px 14px rgba(0, 0, 0, .05);

        &_control {
            margin-bottom: 200px;
        }
    }

    .cases_slide {

        &_header {
            padding: 35px 50px 25px;
            color: #fff;
            font-weight: bold;
            background-color: @main;

            .col-name {
                font-size: 1.125rem;
            }

            .col-desc {
                font-size: 1.875rem;
            }
        }

        &_content {
            padding: 70px 0;

            &_caption {
                margin-bottom: 90px;
                text-align: center;
                font-size: 1.5rem;
                font-weight: bold;
            }

            &_wrap {
                display: flex;
            }

            &_links,
            &_desc {
                padding-left: 20px;
                border-right: 20px;
                box-sizing: border-box;
            }

            &_links {
                width: 40%;
                text-align: center;

                &_img {
                    display: block;
                    width: 100%;
                }

                &_site {
                    margin-top: 80px;
                    display: inline-block;
                    color: #000;
                    font-size: .875rem;
                    opacity: .7;
                    transition: .3s;

                    .icon {
                        display: inline-block;
                        margin-left: 5px;
                        width: 14px;
                    }

                    &:hover {
                        opacity: 1;
                    }
                }

                .button_white {
                    margin: 50px auto 0;
                    width: 300px;
                    height: 80px;
                    font-size: .875rem;
                }
            }

            &_desc {
                width: 60%;

                .features {
                    margin-bottom: 100px;
                    display: flex;

                    &_block {
                        padding: 0 10px;
                        box-sizing: border-box;
                        width: 33.33%;
                        text-align: center;
                        border-right: 1px solid rgba(0, 0, 0, .15);

                        &:last-child {
                            border-right: none;
                        }

                        &_caption {
                            color: @main;
                            font-size: 4.375rem;
                            font-weight: 900;
                        }

                        &_paragraph {
                            font-size: 1.125rem;
                            font-weight: 300;
                        }
                    }
                }

                &_paragraph {
                    margin-bottom: 50px;
                    font-size: 1.125rem;
                    font-weight: 300;

                    &:last-child {
                        margin-bottom: 0;
                    }
                }

                &_subtitle {
                    margin-bottom: 30px;
                    color: @main;
                    font-size: 1.125rem;
                    font-weight: bold;
                }
            }
        }
    }

    .cases_slider_control {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .slider_button {
            color: #000;
            font-weight: 300;

            &:hover {
                opacity: .5;
            }

            &.prev_button {
                position: absolute;
                left: 0;

                .arrow {
                    margin-right: 5px;
                    width: 22px;
                }
            }

            &.next_button {
                position: absolute;
                right: 0;

                .arrow {
                    margin-left: 5px;
                    width: 22px;
                    transform: scaleX(-1);
                }
            }
        }

        .dots {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);

            .dots-list {
                margin: 0;

                li {
                    position: relative;
                    margin: 0 5px;
                    display: inline-block;

                    button {
                        padding: 0;
                        width: 7px;
                        height: 7px;
                        color: transparent;
                        border: none;
                        border-radius: 50%;
                        background-color: #b1b1b1;
                        cursor: pointer;
                        outline: none;
                        overflow: hidden;
                        vertical-align: middle;
                    }

                    &.dot-active {
                        button {
                            background-color: @main;
                        }
                    }
                }
            }
        }
    }
}

.landingpage-test {
    position: relative;
    margin-top: 150px;
    padding-bottom: 200px;

    .caption {
        margin: 0 0 30px;
    }

    &_paragraph {
        margin-bottom: 70px;
        font-size: 1.5rem;
        font-weight: 500;
    }

    &_icons {
        margin: 0 -30px;
        display: flex;
        width: 90%;

        &_block {
            padding: 0 30px;
            box-sizing: border-box;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 33.33%;
        }

        &_img {
            margin-bottom: 25px;
            width: 70px;
        }

        &_info {
            margin-bottom: 0;
            font-size: 1.125rem;
            font-weight: 300;
        }
    }

    .button {
        margin-top: 70px;
        width: 300px;
        height: 75px;
    }

    &_img_block {
        z-index: -1;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        .container {
            height: 100%;
        }
    }

    &_img {
        float: right;
        height: 100%;
    }
}

.landingpage-desc {
    padding: 100px 0;
    background-color: #f8f8f8;

    &_caption {
        font-size: 1.5rem;
        font-weight: bold;
    }

    &_paragraph {
        margin-top: 50px;
        font-size: 1.25rem;
        font-weight: 300;
    }

    &_price {
        margin-top: 70px;
        font-size: 1.125rem;

        &_icon {
            margin-right: 20px;
            width: 23px;
            height: 21px;
        }

        .bold {
            font-size: 1.875rem;
            font-weight: bold;
        }
    }

    &_time {
        margin-top: 25px;
        font-size: 1.125rem;
        font-weight: bold;

        &_icon {
            margin-right: 25px;
            width: 16px;
            height: 16px;
        }
    }

    .button_white {
        margin-top: 100px;
        width: 320px;
        height: 70px;
    }

    &_list {
        margin-top: 50px;
    }

    &_point {
        position: relative;
        margin-bottom: 30px;
        padding-left: 20px;
        line-height: 1;
        font-size: 1.25rem;
        font-weight: 300;

        &:last-child {
            margin-bottom: 0;
        }

        &::after {
            content: '';
            position: absolute;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
            display: block;
            width: 8px;
            height: 8px;
            border-radius: 50%;
            background-color: @main;
        }
    }
}

.spheres {
    padding: 100px 0;

    &_caption {
        margin-bottom: 50px;
        font-size: 1.875rem;
        font-weight: bold;
    }

    &_subtitle {
        margin-bottom: 35px;
        color: @main;
        font-size: 1.5rem;
        font-weight: bold;
    }

    &_list {
        font-size: 1.125rem;
        font-weight: 300;

        &.spheres_list_columns {
            column-count: 2;
        }
    }
}

.howitwork {
    padding-bottom: 50px;
    overflow: hidden;

    &_block {
        position: relative;
        margin-bottom: 25px;
        display: inline-block;

        &_icon {
            width: 60px;
        }

        &_number {
            margin-top: 10px;
            text-align: center;
            font-size: .687rem;
            font-weight: bold;

            .bold {
                font-size: 1.125rem;
            }
        }

        &_line {
            position: relative;
            margin-top: 20px;
            width: 25px;
            height: 5px;
            border-radius: 5px;
            background-color: @main;

            &::before {
                content: '';
                z-index: -1;
                position: absolute;
                display: block;
                top: 0;
                left: 0;
                width: 405px;
                height: 5px;
                transform: translateX(-30%);
                border-radius: 5px;
                background-color: #f2f2f2;
            }

            &.semicircle-right,
            &.semicircle-left,
            &.semicircle-last {
                &::after {
                    content: '';
                    z-index: -1;
                    position: absolute;
                    top: 0;
                    display: block;
                    border-top: 5px solid #f2f2f2;
                    border-right: 5px solid #f2f2f2;
                    border-bottom: 5px solid transparent;
                    border-left: 5px solid transparent;
                    border-radius: 50%;
                }
            }

            &.semicircle-right::after {
                left: 99px;
                width: 366px;
                height: 366px;
                transform: rotate(45deg);
            }

            &.semicircle-left::after {
                right: -20px;
                width: 324px;
                height: 324px;
                transform: rotate(-135deg);
            }

            &.semicircle-last::after {
                left: 130px;
                width: 303px;
                height: 303px;
                transform: rotate(45deg);
            }
        }
    }

    &_text {
        margin-bottom: 130px;
        font-size: .875rem;

        .bold {
            font-weight: bold;
        }
    }

    .rocket {
        display: inline-block;

        &_circle {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 155px;
            height: 155px;
            border-radius: 50%;
            background-color: @main;



            &::before {
                content: '';
                z-index: -1;
                position: absolute;
                display: block;
                left: 100%;
                width: 530px;
                height: 5px;
                background-color: #f2f2f2;

            }

            &_img {
                width: 45%;
            }
        }

        &_text {
            margin-top: 20px;
            text-align: center;
            font-size: .875rem;
            font-weight: bold;
        }
    }
}

.vacancies {
    padding-bottom: 50px;

    &_block {
        padding: 100px 0;
        border-bottom: 1px solid #e5e5e5;

        &:last-child {
            border: none;
        }

        &_icon {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 350px;
            height: 350px;
            border: 1px solid #e5e5e5;
            border-radius: 50%;

            &_img {
                width: 50%;
            }
        }
    }

    &_caption {
        margin-bottom: 50px;
        font-size: 1.875rem;
        font-weight: 900;
    }

    &_subtitle {
        margin-bottom: 30px;
        font-size: 1.125rem;
        font-weight: bold;
    }

    &_list {
        margin-bottom: 50px;
        padding-left: 50px;

        &_point {
            position: relative;
            margin-bottom: 15px;
            font-size: 1.125rem;
            font-weight: 300;

            &:last-child {
                margin-bottom: 0;
            }

            &::after {
                content: '';
                position: absolute;
                top: 50%;
                left: -20px;
                transform: translateY(-50%);
                display: block;
                width: 8px;
                height: 8px;
                border-radius: 50%;
                background-color: @main;
            }
        }
    }

    .button_white {
        margin-bottom: 25px;
        width: 260px;
        height: 60px;
    }

    .whatch_vacancy {
        font-size: 1.125rem;
        font-weight: 300;
        color: rgba(0, 0, 0, .7);
        transition: .3s;

        &:hover {
            color: @main;
            text-decoration: underline;
        }
    }
}

.review {
    margin-bottom: 100px;

    .certificate {
        width: 100%;

        &_img {
            width: 100%;
        }
    }

    &_paragraph {
        font-size: 1.25rem;
        font-weight: 300;
    }

    &_author {
        margin-top: 50px;
        font-size: 1.375rem;
        font-weight: 500;
    }

    .author_position {
        font-weight: 300;
    }
}

.achievements_slider {
    margin: 0 auto;
    width: ~"calc(100% - 160px)";

    .slick-track {
        display: flex;
        align-items: center;
    }

    .achievements_slide {

        .certificate {
            width: 100%;
            text-align: center;

            &_img {
                margin: 0 auto;
                width: 70%;

            }
        }
    }

    .slick-arrow {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 40px;
        height: 40px;
        color: transparent;
        outline: none;
        border: none;
        border-radius: 50%;
        box-shadow: 0px 0px 28.5px 1.5px rgba(0, 0, 0, 0.1);
        background-color: #fff;
        cursor: pointer;
        overflow: hidden;
        transition: .3s;

        &::after {
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            display: block;
            width: 12px;
            height: 12px;
            border-right: 1px solid #000;
            border-top: 1px solid #000;
            transition: .3s;
        }

        &:hover {
            background-color: @main;

            &::after {
                border-color: #fff;
            }
        }
    }

    .slick-prev {
        left: -80px;

        &::after {
            transform: translate(-25%, -50%) rotate(-135deg);
        }
    }

    .slick-next {
        right: -80px;

        &::after {
            transform: translate(-75%, -50%) rotate(45deg);
        }
    }
}

.skills {
    &_blocks {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    &_block {
        position: relative;
        margin-bottom: 100px;
        padding: 60px 30px;
        box-sizing: border-box;
        width: 24%;
        height: 450px;
        border: 1px solid #e5e5e5;
        border-radius: 5px;
        overflow: hidden;
        transition: .3s;

        &:hover {
            border-color: @main;

            svg {
                fill: @main;
            }
        }

        &_caption {
            margin-bottom: 50px;
            height: 36px;
            font-size: 1.5rem;
            font-weight: 900;
        }

        &_paragraph {
            font-size: .875rem;
            font-weight: 300;
        }

        svg {
            z-index: -1;
            position: absolute;
            bottom: 5px;
            right: -20px;
            width: 170px;
            fill: #e5e5e5;
            transition: .3s;
        }
    }
}

.clients {
    &_caption {
        margin-bottom: 100px;
        color: @main;
        font-size: 3rem;
        font-weight: 900;
    }

    &_blocks {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
    }

    &_block {
        width: 25%;
        text-align: center;
        margin-bottom: 100px;

        &_img {
            width: 30%;
        }
    }

    .clients_more {
        margin-bottom: 100px;
        display: inline-block;
        font-weight: 500;

        &_img {
            margin-left: 10px;
            width: 25px;
            transform: scaleX(-1);
        }

        &:hover {
            color: @main;
            text-decoration: underline;
        }
    }
}

.footer {
    padding: 40px 0;
    background-color: #120f15;
    color: rgba(255, 255, 255, .7);
    font-size: .875rem;

    .logo {
        width: 105px;
    }

    &_link {

        a {
            display: block;
            color: rgba(255, 255, 255, .7);
            font-size: .875rem;
            transition: .3s;

            &:hover {
                color: @main;
            }
        }
    }

    .webcat,
    .address {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
    }
}

.locker {
    display: none;
    z-index: 997;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .7);
}

.modal {
    z-index: 999;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    visibility: hidden;
    opacity: 0;
    transition: .3s;

    &.open {
        visibility: visible;
        opacity: 1;
    }

    &_wrap {
        position: relative;
        padding: 70px 150px;
        box-sizing: border-box;
        width: 630px;
        text-align: center;
        border-radius: 10px;
        box-shadow: 0px 10px 28.5px 1.5px rgba(0, 0, 0, 0.15);
        background-color: #fff;

        .close_modal {
            position: absolute;
            top: -30px;
            right: 0;
            display: block;
            width: 20px;
            height: 20px;

            &::before,
            &::after {
                content: '';
                position: absolute;
                top: 50%;
                left: 50%;
                display: block;
                width: 100%;
                height: 1px;
                background-color: #fff;
            }

            &::before {
                transform: translate(-50%, -50%) rotate(45deg);
            }

            &::after {
                transform: translate(-50%, -50%) rotate(-45deg);
            }
        }

        &_caption {
            margin-bottom: 10px;
            font-size: 1.5rem;
            font-weight: 900;
        }

        &_paragraph {
            font-size: .875rem;
        }

        .input_wrap {
            margin-bottom: 40px;
            position: relative;
            height: 30px;

            .label {
                padding: 0 20px;
                box-sizing: border-box;
                width: 100%;
                height: 100%;
                font-size: .875rem;
                font-weight: 300;
                text-align: left;
                transition: .3s;
            }

            .input {
                position: absolute;
                top: 0;
                left: 0;
                padding: 0 20px;
                box-sizing: border-box;
                width: 100%;
                height: 100%;
                font-size: .875rem;
                font-weight: 300;
                border: none;
                border-bottom: 1px solid @main;
                background-color: transparent;
                transition: .3s;
            }

            &.input_wrap_focused {
                .label {
                    color: @main;
                    font-size: .75rem;
                    transform: translateY(-15px);
                }

                .input {
                    border-bottom: 2px solid @main;
                }
            }
        }

        .button {
            margin: 0 auto;
            width: 200px;
            height: 45px;
            font-weight: bold;
            outline: none;
            cursor: pointer;
        }
    }
}

@import "media";
